<!DOCTYPE html>
<!-- file: views/professor.php -->
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
</head>

<body>
  <div class="container">
    <div class="row" style="margin-top: 15px">
      <a class="three columns button button-primary" href="/">Inicio</a>
      <a class="three columns button button-primary" href="/books">Libros</a>
      <a class="three columns button button-primary" href="/authors">Autores</a>
      <a class="three columns button button-primary" href="/publishers">Editoriales</a>
    </div>
    {{#author}}
    <div class="row">
      <div class="six columns">
        <h4>{{author}}</h4>
      Nacionalidad: {{nationality}}; Año nacimiento: {{birth_year}}<br>
      Campos: {{fields}}<br><br>
    </div>
    <div class="three columns"></div>
      <h5>Libros</h5>
      <ul>
        {{#authorBooks}}
        <li>
          <a href="/books/{{book_id}}">{{title}}</a>
        </li>
        {{/authorBooks}}
      </ul>
    </div>
    {{/author}}
    <div class="row" style="margin-top: 15px">
      <button disabled="disabled" class="twelve columns button-primary">
        Tarea 2 - David Rojas Chavarria UNA
      </button>
    </div>
  </div>
</body>