<!DOCTYPE html>
<!-- file: views/professor.php -->
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
</head>

<body>
  <div class="container">
    <div class="row" style="margin-top: 15px">
      <a class="three columns button button-primary" href="/">Inicio</a>
      <a class="three columns button button-primary" href="/books">Libros</a>
      <a class="three columns button button-primary" href="/authors">Autores</a>
      <a class="three columns button button-primary" href="/publishers">Editoriales</a>
    </div>
    <h3 style="margin-top: 15px">Información de editoriales</h3>
    <p>Esta sección presenta Información sobre las editoriales</p>
    <a class="button button-primary" href="/publishers/create">Nueva editorial</a>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Id</th>
          <th>Editorial</th>
          <th>País</th>
          <th>Año fundación</th>
          <th>Genero</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      {{#publishers}}
      <tr>
        <td>{{id}}</td>
        <td>{{publisher}}</td>
        <td>{{country}}</td>
        <td>{{founded}}</td>
        <td>{{genere}}</td>
        <td>
          <a class="button" href="/publishers/{{id}}">Mostrar</a>
          <a class="button" href="/publishers/{{id}}/edit">Editar</a>
          <a class="button" href="/publishers/{{id}}/delete">Borrar</a>
        </td>
      </tr>
      {{/publishers}}
      </tbody>
    </table>
    <div class="row" style="margin-top: 15px">
      <button disabled="disabled" class="twelve columns button-primary">
        Tarea 2 - David Rojas Chavarria UNA
      </button>
    </div>
  </div>
</body>